:root {
	--main-black: #000000;
	--main-grey: #E5F1F1;
	--main-yellow: #FDA841;
	--main-red: #F1635B;

	--hover-color: #fff;
	--body-color: #fff;
	--box-color: #fff;
 }

* {
	box-sizing: border-box;
	outline: none;
}
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}
a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration:underline overline #000;

}

a img {
	border: none;
}

img {
	max-width: 100%;
}

.wrapper {
	margin: 0 auto; /*margin: <vertical> <horizontal> */
	padding: 20px;
	max-width:960px;
}

body > header {

	background-color: var(--main-grey);	
}
main {
	color: #E5F1F1;
	background-color: var(--main-black);
	height: 100vh;
}

footer {
	background-color: var(--main-yellow);
}


