:root {
	--main-black: #000000;
	--main-grey: #E5F1F1;
	--main-yellow: #FDA841;
	--main-yellow-translucent:#fda84140;
	--main-red: #F1635B;

	--hover-color: #fff;
	--body-color: #fff;
	--box-color: #fff;
}

* {
	box-sizing: border-box;
	outline: none;
}

*::before,
*::after {
	box-sizing: inherit;
}

body {
	display:flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	
}

a {
	color: #000;
	text-decoration: none;
}

a img {
	border: none;
}

img {
	width: 100%;
}

header {
	padding: 10px;
}

body > header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
}

nav {
	display:flex;
	gap: 10px;
}

nav a {
	display: block;
	padding: 10px;
	border-top: 2px solid transparent;
	border-bottom: 2px solid transparent;

}

nav a:hover {
	border-top: 2px solid;
	border-bottom: 2px solid;

}

#logo {
	width: 120px;
	height: 50px;
	background-color: black;
}

main {
	flex-grow: 1;
	overflow-y: auto;
}

main > section { 
	height: 100%;
	background-image:url("../assets/img/whitecap.jpg");
	background-size: cover;
	background-position: center;
}

section > header {
	display: flex; 
	align-items: center;
	width: 40%;
	height: 100%;
	background-image:linear-gradient(to right, var(--main-yellow) 35%, var(--main-yellow-translucent));
}

h1 {
	font-size: clamp(26pt, 10vw, 100pt);
	margin: /*auto*/ 0;

}

footer {
	flex-shrink: 0;
	padding: 10px;
}
